
<<<<<<< HEAD
=======
<h1> este funciona</h1>

>>>>>>> 2b7bf297db863b6fedb0ab5a37769839db427eff
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <h1>Index</h1>
    <%- include ('partials/footer') %>
</body>
</html>

