<<<<<<< HEAD
<h1> este funciona</h1>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <h1>Index</h1>
    <%- include ('partials/footer') %>
</body>
</html>
>>>>>>> 63c375961aa13897d9cead3c40b86e972894095c
