<footer>
    <h1>Cootransgar</h1>
    <p>NUESTRA EMPRESA
    Avenida Los Olivos 1 sur 57, Barrió los Olivos – Garzón , Huila
        
    Lunes – Viernes: 7:30 AM – 5:30 PM <br>         Sábados: 7:30 AM – 01:00 PM
        
    contactenos@cootransgarltda.com
        www.cootransgar.com.co</p>
</footer>