body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
