.container-header {
    padding: auto;
    margin: auto;
    background:linear-gradient( rgba(97, 97, 97, 0.8), rgba(73, 73, 73, 0.8)),url(/img/transporte.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}





/*footer*/

 .container-footer {
    background:linear-gradient( rgba(150, 150, 150, 0.8), rgba(46, 46, 46, 0.8)),url(/img/imafooter.jpg);
    font-size: 20px;
    color: rgb(15, 15, 15);
    background-size: cover;
    background-position: center;
    text-align: center;
     
}


.social-icon:hover {
    color: darkorange;
}


strong {
    color: rgb(131, 112, 5);
}


.social-icons {
    margin: 0 10px;
    font-size: 24px; 
    color: hsl(47, 92%, 33%);
}


a{
    color: rgb(246, 248, 218);

}


a:hover {
    color: darkorange ;
}